* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.homeContent h1{
    text-align: center;
    color: white;
    z-index: 999;
    text-transform: uppercase;
}
h1{
    color: white;
}
nav{
    box-shadow: 0 2px 2px rgba(0,0,0,.45);
}

a:hover{
    text-decoration: none;
}

li:hover{
    background-color: rgb(50, 51, 53);
}

.homeSection{
    margin: 0 auto 0 auto;
    background:linear-gradient(to top, rgba(0,0,0,0.5), rgba(80, 80, 80, 0.5)),url("../w3images/download.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    color: rgba(255, 255, 255, 0.7);

}
i{
    color: inherit;
    text-align: center;
}
.homeContent{
    position: relative;
    max-width: 50%;
    height: 90%;
    margin: auto auto;
    text-align: center;
}
.aboutSection{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(155, 24, 24);
    color: white;
}
.panel{
    border-left: 6px solid #ccc;
}
.downarrow{
    text-align: center;
    margin-top: 450px;
    width: 5em;

}

.visionSection{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.volunteerSection{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 76, 40);
}
.nav.nav-tabs>li:hover{
    background-color: rgb(255,255,255);
}
hr{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

a>img{
    width: 120px;
    height: 30px;
}

.contactSection{
    position: relative;
    /*height: 100vh;*/
    background-color: rgb(255, 255, 255);
}

h2{
    color: white;
}

.panel{
    box-shadow: 0 2px 2px rgba(0,0,0,.45);
    border: none;
}
.navbar-right{
    margin-right: 20px;
}
footer{
    background-color: rgb(70,70,70);
    padding: 12px;
    color: white;
    height: 50px;
}
